<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Пример веб-страницы</title>
    </head>
    <body>
    <a>
        <table border="2">
            <p style="text-align: center"></p><caption>Чек-лист</caption>
            <tr>
                <th>Задача</th>
                <th>Начало выполнения</th>
                <th>Окончание выполнения</th>
                <th>Статус</th>
            </tr>
            <tr><td>Начать делать РИП</td><td>01.12.2021</td><td>14.12.2021</td><td><button>Готово</button></td></tr>
            <tr><td>Начать делать РИП</td><td>01.12.2021</td><td>14.12.2021</td><td><button>Готово</button></td></tr>
            <tr><td>Начать делать РИП</td><td>01.12.2021</td><td>14.12.2021</td><td><button>Готово</button></td></tr>
            <tr><td>Начать делать РИП</td><td>01.12.2021</td><td>14.12.2021</td><td><button>Готово</button></td></tr>
        </table>
        <form method="post">
            <p style="text-align: left"><input type="submit" formmethod="get" value="Отправить запрос 'GET'">
        </form>
        <form method="get">
            <p style="text-align: left"><input type="submit" formmethod="post" value="Отправить запрос 'POST'">
        </form>
        <form method="put">
            <p style="text-align: left"><input type="submit" formmethod="put" value="Отправить запрос 'PUT'">
        </form>
        <p style="text-align: left"><input type="submit" formmethod="delete" value="Отправить запрос 'DELETE'">

        <p style="text-align: left">{{.message}}
    </a>
    </body>
</html>